.page {
    flex: 1 1 auto;

    &__partners {
        margin-bottom: 10px;
    }

    &__carousel {
        margin-bottom: 60px;
        .section-title {
            &__value {
                font-size: 28px;
            }
        }
    }

    &__videocarousel {
        margin-bottom: 60px;
    }

    &__theaters {
        margin-bottom: 60px;
    }

    &__events {
        margin-bottom: 60px;
    }

    &__popular-events {
        margin-bottom: 60px;
    }
}

.partners {
    background: #f5f5f5;
    padding: 5px 0;
    &__container {
        display: none;
    }
    &__list {
        @include flex();
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        margin: 5px 0;
    }
    &__img {
        width: 160px;
        height: 60px;
    }
}

.section-title {
    margin-bottom: 20px;
    @include flex;
    justify-content: space-between;
}

.theaters {
    &__list {
        display: flex;
        margin: 0 -10px;
        flex-wrap: wrap;
    }
    &__item {
        // padding: 0 15px;
        margin: 0 10px 20px;
        // flex: 0 1 20%;
        width: calc(20% - 20px);
        background-color: #fff;
        border: 1px solid $borderColor;
        transition: all 0.2s ease 0s;
        &:hover {
            border-color: $redColor;
        }
    }
    &__link {
        color: #000;
        display: block;
    }
    &__img {
        width: 100%;
    }
    &__data {
        padding: 15px;
    }
    &__name {
        padding: 0 0 20px 0px;
    }
    &__address {
        padding: 0px;
        margin: 0;
        font-family: $lightFont;
        font-size: 17px;
        color: $darkgrayColor;
    }
}



.textblock {
    margin-bottom: 60px;
    font-family: $lightFont;
    font-size: 19px;
    p {
        margin-bottom: 30px;
    }
    ul {
        padding-left: 30px;
        margin-bottom: 30px;
        li {
            margin: 8px 0;
            position: relative;
            padding-left: 24px;
            &:before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 7px;
                left: 0;
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 2px solid #4bb92f;
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 1100px) {
}



@media (max-width: 1000px) {
}

@media (max-width: 992px) {
    .theaters {
        &__item {
            width: calc(25% - 20px);
        }
    }
}



@media (max-width: 810px) {
    .theaters {
        &__item {
            width: calc(33% - 20px);
        }
    }
}

@media (max-width: 768px) {
}

@media (max-width: 750px) {
}



@media (max-width: 650px) {
    .theaters {
        &__item {
            width: calc(50% - 20px);
        }
    }
}

@media (max-width: 600px) {
}

@media (max-width: 555px) {
}

@media (max-width: 550px) {
}

@media (max-width: 450px) {
    .theaters {
        &__item {
            width: calc(100% - 20px);
        }
        &__link {
            display: flex;
        }
        &__img {
            width: 45%;
        }
        &__data {
            width: 55%;
        }
        &__name {
            padding: 0 0 10px 0px;
        }
        &__address {
            padding: 0px;
            margin: 0;
            font-size: 15px;
        }
    }
}



@media (max-width: 428px) {
}

@media (max-width: 414px) {
}

@media (max-width: 412px) {
}

@media (max-width: 390px) {
}

@media (max-width: 384px) {
}

@media (max-width: 375px) {
}

@media (max-width: 360px) {
}
