.lenta {
	position: relative;
	margin-bottom: 50px;

	&.lenta-sm {
		margin-bottom: 20px;
		.lenta__title {
			margin-bottom: 0;
		}
		.swiper {
			padding-bottom: 0;
		}
	}

	&__title {
		border-bottom: 1px solid #e9e9e9;
		padding-bottom: 5px;
		position: relative;
		margin-bottom: 30px;

		h2 {
			display: inline-block;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 0;
				height: 2px;
				width: 100%;
				background: $greenColor;
			}
		}
	}

	&__body {}

	&__showall {
		margin-top: 10px;
		.btn {
			width: 100%;
		}
	}

	.product-block {
		max-width: 100%;
		padding: 16px;
		margin: 0;

		&__price-wrap {

			.addcart__btn {
				.icon {
					margin-right: 0;
				}

				span {
					display: none;
				}
			}
		}
	}

}

.arrows {
	position: absolute;
	right: 0;
	top: 2px;
	@include flex();
	width: 60px;
	height: 30px;

	.swiper-button-prev,
	.swiper-button-next {
		&:after {
			display: none;
		}

		position: static;
		margin-top: 0;
		width: 30px;
		height: 30px;
		border: $redColor;
		@include flex();
		justify-content: center;
		// background: green;
		border: 1px solid $redColor;

		.icon {
			width: 14px;
			height: 14px;
			fill: $redColor;
			display: block;
		}

		&:hover {
			background: $redColor;

			.icon {
				fill: #fff;
			}
		}
	}

	.swiper-button-prev {
		border-radius: 3px 0px 0px 3px;
		border-right-width: 0;

		.icon {
			transform: rotate(180deg);
		}

		&.swiper-button-disabled {}
	}

	.swiper-button-next {
		border-radius: 0 3px 3px 0;
		// &.swiper-button-disabled {
		// 	border-left: none;
		// }
	}
}

@media (max-width: 992px) {}

@media (max-width: 768px) {
	.lenta {
		.product-block {
			padding: 0px 8px;
		}
		&.lenta-sm {
			margin-bottom: 0px;
		}
	}
}

@media (max-width: 395px) {
	.lenta {
		&__title {

			h2 {
				max-width: 300px;
			}
		}
	}
}