.brands-page {

	.popular-brands {
		
		&-list {
			@include flex();
			flex-wrap: wrap;
			margin-right: -15px;
			margin-left: -15px;

			.brand-item {
				flex: 0 0 25%;
				max-width: 25%;
				padding: 0 15px;
				margin: 10px 0;

				a {
					@include flex();
					justify-content: center;
					border: 1px solid #f6f8f8;
					text-align: center;
					padding: 8px 0;
					min-height: 120px;

					&:hover {
						// border: 1px solid #373737;
						box-shadow: 0 .25rem .95rem rgba(0,0,0,.175);
					}
				}
			}
		}
	}

	.letter-div {
		width: 100%;
		.letter-name {
			font-size: 33px;
			margin: 30px 0 5px;
			color: #333e48;
		}
		.letter-div-list {
			display: flex;
			// justify-content: space-between;
			flex-wrap: wrap;
			.column {
				width: 28%;
				display: block;
				padding: 10px 0;
	
			}

			.li {
				@include flex();
				margin: 10px 5px;
				
				a {
					@include flex();
					align-items: center;
					border: 1px solid #dbdbdb;
					border-radius: 20px;
					padding: 8px 22px;
					// justify-content: space-between;
					font-size: 16px;
					transition: all 0.2s ease-in-out;
					color: #323131;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						box-shadow: 0 4px 11px rgba(51, 62, 72, 0.25);
					}
				}

				.stars-wrap {
					margin-bottom: 0;
					margin-left: 15px;
					.stars {
						margin-right: 5px;
					}
					.comments-count {
						font-size: 12px;
					}
				}

				&:hover {
					// border: 1px solid #373737;
					// box-shadow: 0 .12rem .55rem rgba(0,0,0,.175);
				}
			}
		}
	}

}



/*--------------*/
/*--- tablet ---*/
/*--------------*/
@media (max-width: 990px){

	.brands-page {

		.letter-div {
			.letter-div-list {
				.column {
					width: 45%;
				}
			}
		}

	}
}

/*--------------*/
/*--- mobile ---*/
/*--------------*/
@media (max-width: 768px){
	.brands-page {

		.popular-brands {
			
			&-list {
				.brand-item {
					flex: 0 0 50%;
					max-width: 50%;
					padding: 0 15px;
					margin: 10px 0;
					
					img {
						max-width: 100%;
					}
				}
			}
		}

		.letter-div {
			.letter-div-list {
				.column {
					width: 100%;
					padding: 0;
				}
			}
		}
	
	}
}