.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 40px; 

    .swiper-slide {
        width: auto;
    }

    .swiper-pagination {
        // bottom: 0;
    }
    .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        // background: rgba(255,255,255,0.3);
        &.swiper-pagination-bullet-active {
            background: $redColor;
        }
    }
    
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
        .swiper-pagination-bullet {
            margin: 0 8px;
        }
    }

    &.swiper-slider-mainpage {
        padding-bottom: 0;
    }
    // &.swiper-news-lenta, &.swiper-top-lenta, &.swiper-brands-lenta, &.swiper-sales-lenta {
	// }
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 7px;
    &.swiper-pagination-bullet-active {
        background: $redColor;
    }
}