.breadcrumbs { 
	display: block;
	width: 100%;
	@include flex();
	justify-content: flex-start; 
	// border-bottom: 1px solid #eaeaea;
	margin: 0;
	// margin: 5px;
	font-family: $lightFont;
	&__item {

		&:first-child {
			
			.icon {
				width: 14px;
				height: 14px;
				margin-right: 10px;
			}

			.breadcrumbs__link {
				@include flex();
				padding-left: 0;
			}
		}

		&:not(:first-child) {
			background-image: url("data:image/svg+xml,%3Csvg width='5' height='9' viewBox='0 0 10 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0497257 15.463L1.46394 16.8379L9.94922 8.58831L1.46394 0.338729L0.049725 1.71366L7.12079 8.58831L0.0497257 15.463Z' fill='black'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center left;
		}
		
		strong {
			color: $blackColor;
			padding: 10px 15px 10px 20px;
			display: block;
		}
	}

	&__link {
		display: block;
		padding: 10px 15px 10px 20px;
		color: $blackColor;
		transition: all 0.3s ease 0s;

		&:hover {
			color: $redColor;
		}
	}

	// .breadcrumbs-item + .breadcrumbs-item span {
	// 	background-color: #f5f5f5;
	// 	border-radius: 0.313rem;
	// 	padding: 0.438rem 0.875rem;
	// }
}

/*--------------*/
/*--- tablet ---*/
/*--------------*/
@media (max-width: 992px){
	.breadcrumbs { 
		// border: 1px solid #eaeaea;
		border: none;
		// background-color: #f5f5f5;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0;
		margin-top: 0;
		// margin-bottom: 20px;
		// &__item:not(:last-child) {
		// 	display: none;
		// }
		&__item:not(:nth-last-child(2)) {
			display: none;
		}

		&__item:nth-last-child(2) {
			width: 100%;
			background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2977 0.989561L0.287292 6.99997L6.2977 13.0104L7.71191 11.5962L3.11572 6.99997L7.71191 2.40378L6.2977 0.989561Z' fill='%233a3939'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: center left;
		}

		// &__item:last-child {
		// 	width: 100%;
		// 	background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.2977 0.989561L0.287292 6.99997L6.2977 13.0104L7.71191 11.5962L3.11572 6.99997L7.71191 2.40378L6.2977 0.989561Z' fill='%233a3939'/%3E%3C/svg%3E");
		// 	background-repeat: no-repeat;
		// 	background-position: center left;
		// }

		&__item {
			&:first-child {
				.breadcrumbs__link {
					padding-left: 20px;
				}
			}
		}

	}
}

/*--------------*/
/*--- mobile ---*/
/*--------------*/
@media (max-width: 768px){
	.breadcrumbs {

		width: calc(100% + 40px);
		margin-bottom: 5px;
	}
}